div.sessions-container,
div.my-certificates {
  padding: 1em;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  border-radius: 0.5em;
}

div.session-card {
  display: flex;

  border-bottom: 1px solid #ccc;
}

div.content {
  flex: 1;
}

div.session-card-end {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.revoke-all-sessions {
  width: 100%;
  margin-top: 1em;
}

div.my-certificates {
  margin-top: 1em;

  cursor: pointer;

  > h2 {
    margin-bottom: 0;
  }
}
